@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4c0026da;
    color: #000000;
    position: relative;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #00000077;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header .title {
    font-size: 24px;
    margin-top: 0;
    color: #000000;
}

main p {
    font-size: 18px;
    margin: 10px 0;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #cccccc;
}
